body{
background: -webkit-linear-gradient(-135deg, #00ffc100, #e4d4d4);
background-attachment: fixed;
}
table{
  border: 0px solid black;
}
table th{
color:black;
font-size: 30px;
width: 500px;
border-radius: 10px;
}
table td{
  color: #bfddc5;
  margin: 15px;
  font-size: 30px;
  border: 0px  black;
  color: black;
}
form{
  color:navy;
  margin:5px;
}
form input{
  border-color:#9fc2ff;
  border: none;
  padding-left: 1000px;
  background: none;
  border: none;
  color:navy;
  padding-top: 10px;
  cursor: pointer;
  font-size: 38px;
}
.form input:hover{
  background: navy;
}
a{
  text-align: center;
  color:indigo;
  font-size: 40px;
  padding-left:30px;
  padding-top: 10px;
  margin: 0px;
  font-family: sans-serif;
  text-decoration: none;

}
a:hover{
  color: black;
}
.an{
  float:right;
  padding-right: 80px;
}
.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    color: #ffffff;
    border-radius: 50px;
}
.grid h1:hover{
  background: black;
}
