body{
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background-attachment: fixed;
}
table{
  border: 0px solid black;
}
table th{
color:black;
font-size: 30px;
width: 500px;
background-color: #C4FCEF;
border-radius: 10px;
}
table td{
  color: #bfddc5;
  margin: 15px;
  font-size: 30px;
    border: 0px solid black;
    color: black;
    padding: 10px;
}
form{
  color:#009688;
  margin:0px;
}
form input{
  border-color:#9fc2ff;
  border-style: solid;
  background:none;
  color:navy;
  border-radius: 10px ;
  padding:5px;
  cursor: pointer;
  font-size: 18px;
}
.form input:hover{
  background: navy;
}
a{
  text-align: center;
  color:indigo;
  font-size: 40px;
  padding-left: 120px;
  font-family: sans-serif;
  margin-top: : 90px;
  text-decoration: none;

}
a:hover{
  color: black;
}
.grid {
    width: 900px;
    height: 500px;
    margin: 0 auto;
    background-color: #C4FCEF;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #845EC2;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}
.grid h1:hover{
  background: black;
}
