body{
background: linear-gradient(90deg,#16bffd,#cb3066);
min-height:100vh;
}
table{
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
tr:hover {
  background-color: #D8BFD8;
}
h1{
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
}
.wrapper-inner-tab{
  position: fixed;
	float: left;
	width:30%;
	margin-top:320px;
  text-decoration: none;
}
.wrapper-inner-tab-backgrounds {
	float: left;
	height: 300px;
	width: 700px;
}
.wrapper-inner-tab-backgrounds-first{
	float: left;
	height: 300px;
	width: 33.33%;
}

.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 145px;
	width: 60%;
  font-size: 30px;
  font-family: Alegreya Sans SC;
  background:rebeccapurple;
	cursor: pointer;
  text-decoration: none;
}
.button1 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
    text-decoration: none;
	border: 1px solid rgba(255,255,255,0.5);
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
  text-decoration:overline;
}
.button1:hover {
	background-color: rgba(255,255,255,0.2);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
    text-decoration: none;
}
.kk{
  position: fixed;
	float: right;
	width:100%;
	margin-top:200px;
  text-decoration: none;
}
.pk{
	float: right;
	height: 300px;
	width: 900px;
}
.rk{
	float: right;
	height: 300px;
	width: 33.33%;
}

.sim-button {
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 145px;
	width: 60%;
  font-size: 30px;
  font-family: Alegreya Sans SC;
  background:rebeccapurple;
	cursor: pointer;
  text-decoration: none;
}

.button13 {
color: rgba(255,255,255,1);
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
position: relative;
}
.button13 a{
color: rgba(51,51,51,1);
text-decoration: none;
display: block;
}
.button13::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
border: 1px solid rgba(255,255,255,0.5);
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.button13:hover::before{
opacity: 0;
-webkit-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
}
.button13::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
background-color: rgba(255,255,255,0.25);
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
-webkit-transform: scale(0.5,0.5);
transform: scale(0.5,0.5);
}
.button13:hover::after{
opacity: 1 ;
-webkit-transform: scale(1,1);
transform: scale(1,1);
}
