body{
background: linear-gradient(to right, #314755, #26a0da);
}
.add{
position:absolute;
}
h1{
font-size:40px;
color:lavenderblush;
padding-left: 390px;
text-align: center;

}
.ques{
	font-family:sans-serif;
	font-size:25px;
	color:#e0f0fd;
	padding-left: 250px;
	}
.op{
  	font-family:sans-serif;
	color:#e0f0fd;
	font-size:25px;
	padding:10px;
  padding-left: 250px;
}
.opt{
	padding-left:340px;
	font-size:30px;
	color:white;

}
.qq{
	border-color:#9fc2ff;
	border-style: solid;
	background:none;
	color:#9dfff7;
	padding:10px;
  font-size: 20px;
	width:500px;
	margin:7px;
}
.kk{
 margin:10px;
	width: 50px;
	height: 25px;
	padding: 15px;
}
.new{
  padding-left: 100px;
  padding-top: 20px;
  background: none;
	float:left;
	width: 100%;
	margin-left: 15px;
	text-align: center;
}
.new input{
	font-size: 20px;
	border-color:#9fc2ff;
	border-style: solid;
	background:none;
	color:white;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	padding:9px;
	cursor: pointer;
}
.new input:hover{
background: navy;
}
.add a{
	color:white;
	float:left;
	margin: 2px;
	font-size:30px;
  padding: 5px;
	text-decoration: none;

}
.add a:hover{
	color: #dedeff;

}
textarea{
  border: 2px;
  border-color: #9fc2ff;
  font-size: 20px;
	border-style:solid;
	background:none;
	color:#9dfff7;
}
.raja{
	padding-left: 370px;
  font-size: 10px;

}
