body{
  font-family:monospace;
background: #77A1D3;
}
h1{
font-size:35px;
color:darkblue;
border-bottom: 2px solid #dedeff;
margin-bottom: 15px;
padding-bottom:20px;
}
p{
color:#bfddc5;
font-family:sans-serif;
font-size:18px;
color: maroon;
}
table{
text-align:center;
color:white;
border:0px;
padding:0px;
width:75%;
border-collapse:collapse;
}
table th{
color:black;
text-align:center;
padding:15px;
font-size: 25px;
background-color:cadetblue;
}
table td{
padding: 15px;
margin: 5px;
font-family: sans-serif;
font-size: 17px;
color: #bfddc5;
}
table a{
color:black;
font-size:25px;
text-decoration:none;
}
table a:hover{
color: #dedeff;

}
