body{
font-family:monospace;
background: #FFF;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
}
h1{
 font-family: 'Actor';
 font-size: 40px;
color:darkblue;
border-bottom: 2px solid #dedeff;

padding-bottom:15px;
}
p{
color:#bfddc5;
font-family:Dekko;
padding: 0px;
font-size:30px;
color: maroon;
}
table{
text-align:center;
color:white;
border: 5px;
border-radius: 5px;
width:75%;

border-collapse:separate;
border-spacing:0 30px;
}
table th{
color:black;
text-align:center;
padding:15px;
font-size: 25px;
 font-family: 'Alegreya';
background-color:dodgerblue;
box-shadow: 0 2px 5px white;
}
.pp{
  border-collapse:separate;
  border-spacing:0 15px;
}
table td{
padding: 15px;
margin: 5px;
font-family:Merienda;
font-size: 17px;
background-color:#5c4fd7;
box-shadow: 0 5px 25px rgba(0,0,0,.5);
}
table a{
color:black;
font-size:25px;
text-decoration:none;
}
table a:hover{
color: navy;

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
