body{
font-size:20px;
font-family:inline;
background: rgba(72,89,234,1);
}
.sea{
position:fixed;
margin-top:10px;
}
 h1{
	color:floralwhite;
	border-bottom: 3px solid #9fc2ff;
	text-align:center;
	font-family:initial;
	padding: 10px;
}
h2{
	padding: 0px;
	margin: 5px;
	text-align: center;
	font-family:sans-serif;
}
.box{
	margin-left: 540px;
	width:100px;
	margin-top:10px;
	padding-left:9px;
	}
.box select{
	background:#9fc2ff;
	color:black;
	padding:18px;
	align: center;
  font-size: 15px;
	width:290px;
	border:none;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
}
.sub{
	margin-left: 600px;
	margin-top:20px;
	padding-top:10px;
	padding-left:20px;
}
.sub input{
	border: none;
	width: 140px;
	font-size: 25px;
	background:none;
	color:cyan;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	padding:8px;
	cursor: pointer;
}
input:hover{
	background: navy;
}
.sea a{
color:floralwhite;
padding-top: 50px;
margin: 10px;
margin-left: 100px;
font-size:35px;
text-decoration:none;
}
.sea a:hover{
color: navy;
}
